
/*   reset css */
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
html{
    margin: 0;
    padding: 0;
    width:100vw;
}
body{
    /* display: flex; */
    background-image: linear-gradient( to right, #b2e734, rgb(14, 92, 14));
    /* justify-content: center; */
    position: relative;
    width: 100%;

}

.card{
    padding: 25px;
    margin: 120px auto;
    width: 300px;
    height: 360px;
    background-color: rgb(64, 64, 64);
    border-radius: 25px;
    /* text-align: center; */
    position: relative;
}
.card__heart{
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 25px;
    color: aliceblue;
}
.card__cart{
    font-size: 25px;
    position: absolute;
    top: 10px;
    height: fit-content;
    right: 20px;
    color: aliceblue;
}
.card__img{
    margin-top: 10px;
    width: 90%;
    margin: auto;
    transition: 0.5s;
}
img{
    width: 100%;   
    object-fit: cover;
}
.card__title, .card__price{
    color: aliceblue;
    font-size: 27px; 
    font-weight: 600;
    text-align: center;
    transition: 0.5s;
}
.card__title{
    margin-top: 10px;
    color: #b6e545;
}
.card__color, .card__size{
    color: aliceblue;
    display: flex;
    margin-top: 15px    ;
}
.card__size span{
    margin-left: 10px;
    background-color:aliceblue;
    font-size: 25px;
    width: 35px;
    border-radius: 4px;
    color: black;
    text-align: center;
}
.card__color span{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 50%;
}
.card__color--green{
    background-color: #b6e545;
}
.card__color--red{
    background-color: #f80c00;
}
.card__color--blue{
    background-color: #0088ff;
}
.btn{
    text-align: left;
    margin-top: 20px;
    font-size: large;
    border: none;
    outline: none;
    background: #b6e545;
    color: white;
}
.btn__buy, .btn__add{
    text-align: left !important;
    padding: 10px;
    font-weight: 600;
    border-radius: 5px;
}
.btn__add{
    margin-left: 25px;
}
.card:hover .card__img{
    transform: translateY(-80px) rotate(-50deg);
}
.card:hover .card__title{
    transform: translate(-20px, -70px);
}
.card:hover .card__price{
    transform: translate(-105px, -70px);
}
.card-action{
    margin-top: 100px;
    opacity: 0;
    transition: 0.5s;
}
.card:hover .card-action{
    margin-top: -50px;
    opacity: 1;
}
.btn__home{
    position: fixed;
    bottom: 50px;
    left: calc(50% - 50px);
    background-color: #ffffff;
    font-size: 25px;
    border-radius: 10px;
    padding: 10px;
    font-weight: 600;
    color: #3b3b3b;
    text-decoration: none;

}