*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, rgb(240, 122, 122), rgb(111, 111, 234));
}
.container{
    width: 100%;
    height: 100%;   
    display: flex;
    justify-content: center;
    align-items: center;
}
.search{
    display: flex;
}
.search__box{
}
.search__box input{
    opacity: 0;
    transition: 0.8s;
    height: 70px;
    width: 0px;
    margin: 0px;
    border: none;
    background-color: rgba(27, 27, 27, 0.7);
    border-radius: 15px 0px 0px 15px;
    color: white !important;
    font-size: xx-large;
    
    box-sizing: border-box;
}
.search__btn{
    box-sizing: border-box;
    background-color:aliceblue;
    color: black;
    font-size: 20px;
    border-radius: 0 15px 15px 0px ;
    padding: 15px;
    transition: 0.2s;
}
.search__btn i{
    font-size: 35px;
}
.w-100{
    width: 350px !important;
    opacity: 1 !important;
    padding: 15px;
}
.border{
    border-radius: 15px;
}
