*{
    margin: 0;
    padding: 0px;
}
body{
    box-sizing: border-box;
    background-image: linear-gradient( to right, #ffb937, rgb(255, 141, 47));
}
.container{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.card{
    position: relative;
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(57, 57, 57);
    height: 400px;
    width: 300px;
    border-radius: 10px;
    color: aliceblue;
    margin-right: 25px;
    padding: 25px;
}
.card__img{
    width: 100px;
    height: 100px;
    margin: auto;
    border: solid 3px rgba(255, 77, 0, 0.884);
    border-radius: 50%; 
}
.card__img img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 50%; 
    transition: 0.4s;
}
.card__info, .social,.btn{
    margin: 25px;
}
.card__info{
    font-weight: 570;
}
.card__info p{
    margin: 5px;
    color: rgba(255, 77, 0, 0.884);
}
.social i{
    margin: 0 10px 0 10px;
    font-size: 24px;
}
.btn{
   width: 120px;
   height: 40px;
   border: solid 1px rgba(255, 77, 0, 0.884);
   border-radius: 10px;
   background-color: rgb(57, 57, 57);
   color: white;
   transition: 0.5;
}
.btn:hover{
    background-color:  rgba(255, 77, 0, 0.884);
}
i:hover{
    color:  rgba(255, 77, 0, 0.884);
}
.card__img:hover img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    border-radius: 10px;
}
.btn__home{
    position: fixed;
    bottom: 50px;
    left: calc(50% - 50px);
    background-color: #ffffff;
    font-size: 25px;
    border-radius: 10px;
    padding: 10px;
    font-weight: 600;
    color: #3b3b3b;
    text-decoration: none;
}

@media screen and (min-width: 300px) and (max-width: 767px){
    .container{
        display: flex;
        flex-wrap: wrap;
    }
    .card{
        width: 250px;
        height: 370px;
        margin-top: 30px ;
    }
    .card__info{
        margin-left: 0;
        margin-right: 0;
    }
    .social{
        margin: 0 0 30px 0;
    }
    .btn{
       margin-top: 20px;
       font-size: large;
    }
    i{
        font-size: 20px;
    }
}