*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color:#8cc84c;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search{
    background-color: aliceblue;
    width: 550px;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    margin: 25px;
}

.search h2{
    font-size: xx-large;
    margin-bottom: 20px;
    color: black;
    
}
.search__box{
    box-sizing: border-box;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    display:flex;
    flex-wrap: wrap;
    border-radius: 10px;
    overflow: hidden;
}
.items{
    display: flex;
    color: aliceblue;
    flex-wrap: wrap;
}
.item{
    box-sizing: border-box;
    font-size: x-large;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color:#8cc84c;
    padding: 10px;
    margin: 5px 5px 0 0;
    border-radius: 5px;
}
.icon{
    font-size: 20px;
    margin: 0  2px  0  10px;
}
input{
    font-size: x-large;
    width: 60%;
    border: none;
    outline: none;
    background-color: aliceblue;
    padding: 10px 0;
}
button{
    font-size: 20px;
    padding: 10px;
    margin-top: 35px;
    background-color: rgb(215, 109, 109);
    border: none;
    border-radius: 5px;
    color: aliceblue;
}